In [1]:
import pandas as pd
import random

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('poker-hand-training-true.data', sep = ",")

In [3]:
def count_hands():
    arr = [];
    for i in range(10):
        arr.append(0)
    
    last_column = df[df.columns[10]]
    for i in range(len(last_column)):
        arr[last_column[i]] += 1 
    
    return arr

In [4]:
def dupliacation_prob():
    hand_counts = count_hands()
    dupliacation_prob = []
    
    for i in range(len(hand_counts)):
        dupliacation_prob.append( (hand_counts[0] - hand_counts[i]) / hand_counts[i])
    
    return dupliacation_prob

In [10]:
def update_df(df):
    duplicate_prob = dupliacation_prob()
    first_size = len(df)
    
    for i in range(first_size):
        current_row = df.iloc[i]
        dup_times = duplicate_prob[current_row[10]]
        
        while(dup_times >= 1):
            df = df.append(current_row)
            dup_times -= 1
        rnd = random.random()
        if(dup_times > rnd):
            df = df.append(current_row)
    return df

In [11]:
df = update_df(df)

In [12]:
df

       1  10  1.1  11  1.2  13  1.3  12  1.4  1.5  9
0      2  11    2  13    2  10    2  12    2    1  9
1      3  12    3  11    3  13    3  10    3    1  9
2      4  10    4  11    4   1    4  13    4   12  9
3      4   1    4  13    4  12    4  11    4   10  9
4      1   2    1   4    1   5    1   3    1    6  8
...   ..  ..  ...  ..  ...  ..  ...  ..  ...  ... ..
24998  4  12    3  11    4   4    3  12    2   12  3
24998  4  12    3  11    4   4    3  12    2   12  3
24998  4  12    3  11    4   4    3  12    2   12  3
25002  1  12    2   9    2  12    4   8    1   13  1
25005  4   1    4  10    3  13    3   4    1   10  1

[124999 rows x 11 columns]

In [24]:
len(df.index)

124999

In [28]:
import pickle

pickle.dump(df, open('data_balanced.pkl', 'wb'))